:root {
    --main-theme-color: darkred;
    --main-bg-color: black;
    --main-text-color: white;
  }

body {
    margin: 0;
    overflow-x: hidden;
}

h1 {
    color: var(--main-theme-color);
    font-size: 7rem;
    font-family: "Spirax", sans-serif;
    margin-bottom: 1rem;
}

p {
    background-color: var(--main-theme-color);
    color: var(--main-text-color);
    opacity: 0.7;
    font-size: 1.8rem;
    padding: 1rem;
    font-family: "Poiret One", sans-serif;
    text-align: center;
}

.border {
    border-bottom: solid;
    border-bottom-width: 2rem;
    border-color: var(--main-theme-color);
}

.first {
    align-self: flex-start;
    position: relative;
    left: 21%;
    width: 43%;
}

.second {
    align-self: flex-start;
    position: relative;
    left: 32%;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 30%;
}

nav {
	position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
    opacity: 0.7;
}

ul {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    height: 5rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.flex-item {
    font-family: "Spirax", sans-serif;
    padding-left: 2rem;
    font-size: 3rem;
    padding-right: 2rem;
    list-style-type: none;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

.hot {
    background-image: url("assets/hot.jpg");
}

.juicy {
    background-image: url("assets/juicy.jpg");
}

.cozy {
    background-image: url("assets/cosy.jpg");
}

header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    position: fixed; 
    top: 0;
    z-index: 100;
    width: 100%;
}
  
table {
    background-color: var(--main-bg-color);
    color:var(--main-text-color);
    opacity: 0.7;
    font-size: 2rem;
    padding: 2rem;
    align-self: flex-start;
    font-family: "Poiret One", sans-serif;
    position: relative;
    left: 27%;
    width: 47%
}

tr > td:nth-child(2) {
    text-align: right;
}

section {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .second {
        display: none;
    }

    .first {
        font-size: 1.2rem;
        margin-left: 0;
        padding: 1rem;
        width: 17rem;
        align-self: auto;
    }

    a {
        font-size: 2rem;
    }

    h1 {
        font-size: 4rem;
        display: contents;
    }

    table {
        font-size: 1.2rem;
        width: 19rem;
    }

    .flex-item {
        padding-left: 0;
        padding-right: 0;
    }

    .hot-link {
        padding-right: 1rem;
    }

    .cozy-link {
        padding-left: 1rem;
    }

    .border {
        border-bottom-width: 1rem;
    }
}