body {
    margin: 0;
}

h1 {
    color: darkred;
    font-size: 7rem;
    font-family: "Spirax", sans-serif;
}

p {
    background-color: darkred;
    color: white;
    opacity: 0.7;
}

.hot {
    background-image: url("assets/hot.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5vh;
    border-color: darkred;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
	position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
    opacity: 0.9;
}

ul {
    display: flex;
    flex-direction: row;
    background-color: rgb(66, 70, 70);
    
    height: 5rem;
    align-items: center;
    justify-content: center;
}

.flex-item {
    /*font-family: "Poiret One", sans-serif;*/
    font-family: "Spirax", sans-serif;
    padding-left: 2rem;
    font-size: 3rem;
    padding-right: 2rem;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.juicy {
    background-image: url("assets/juicy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cozy {
    background-image: url("assets/cosy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sticky-header {
    background-color: #333;
    color: #fff;
    position: sticky; 
    top: 0;
    z-index: 100;
    width: 100%;
}
  